body {
    /* display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center; */
    background-color: rgb(255, 255, 255);
    height: 100%;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(152, 158, 167) !important;
}

.main-content-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.right-side-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    white-space: nowrap;
}

.upcoming-events-btn {
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.date-medstock-info {
    float: left;
    margin-left: 10px; /* Add some margin to separate the two divs */
    white-space: nowrap;
    text-align: right;
}

.date-view, .med-stock-view {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.todays-date, .med-stock-text {
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: bold;
}

.welcome-text {
    font-size: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card-anchor {
    text-decoration: none;
    color: black;
}

.patient-card {
    display: flex;
    align-items: center; /* Centers child elements vertically */
    justify-content: space-between; /* Adds space between child elements */
}

.patient-card-info {
    width: 80%;
}

.sub-patient-info {
    gap: 1rem;
}

.patient-card-pic {
    width: 20%;
}

.patient-view, .high-alert-view {
    display: flex;
    flex-wrap: nowrap;
}

.patients-text, .high-alert-text {
    flex: 3;
    text-align: left;
}

.live-patient-view {
    flex: 6;
    text-align: center;
}

.live-high-alert-view {
    flex: 6;
    text-align: center;
}

#top-navbar, #side-navbar {
    border: 3px solid black;
    border-radius: 5px;
}

.top-bar, .main-content {
    width: 81.6%;
    position: relative;
    margin-right: 0;
    float: right;
}

.sidebar {
    width: 18.4%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
}

.map-image {
    float: left;
    margin-right: 1rem;
    border: 2px solid black;
}

#map_image {
    float: left;
}

@media screen and (max-width: 1452px) {
    .map-image {
        display: none;
    }
    .fs-4 {
        display: none;
        height: 0;
        width: 0;
    }
}

.nursepic {
    width: 100%;
    max-width: 330px;
}

.medcallimg {
    display: flex;
    justify-content: center;
}

.main-text {
    margin-top: -3rem;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    height: auto;
    font-size: 16px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    height: auto;
}

.middle {
    margin-bottom: -1px;
    border-radius: 0;
}

.bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.footer .btn {
    margin-top: 1rem;
}

.footer p {
    margin-top: 1rem !important;
    text-align: center;
}

.alert-footer {
    display: none;
    margin-top: 1rem;
}

#dropdownUser1 {
    margin: 1rem;
    align-self: center;
}

.avatar-ctn {
    text-align: center;
}


.avatar {
    width: 65%;
}